@import url("https://fonts.googleapis.com/css?family=Danfo:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:300,regular,500,600,700&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral Bold";
  src: url("../fonts/IntegralCF-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Exo", sans-serif;
  background-color: #000;
}

/* ===============  ==================== */
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

/* =============== HEADER =================== */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
}
.body-header {
  padding-top: 60px;
  padding-bottom: 30px;
}
.body-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-header__title {
  color: #fff;
  font-size: 30px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  line-height: 66.6%;
  /* 20/30 */
  letter-spacing: -3px;
}
.body-header__action {
  position: relative;
}
@-webkit-keyframes headerAnim {
  0% {
    background-color: rgba(151, 71, 255, 0);
  }
  100% {
    background-color: #9747FF;
  }
}
@keyframes headerAnim {
  0% {
    background-color: rgba(151, 71, 255, 0);
  }
  100% {
    background-color: #9747FF;
  }
}
.menu-body-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media (max-width: 1090px) {
  .menu-body-header__list {
    display: none;
  }
}
.menu-body-header__item {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  /* 20/16 */
  text-transform: uppercase;
}
.menu-body-header__link {
  padding: 15px 10px;
}
.menu-body-header__link:hover {
  -webkit-animation: headerAnim 0.2s linear both;
          animation: headerAnim 0.2s linear both;
}

.social-body-header {
  position: relative;
}
.social-body-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1150px) {
  .social-body-header__list {
    margin-top: 20px;
  }
}
.social-body-header__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social-body-header__link img {
  width: 20px;
  height: 20px;
}
.social-body-header__link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.menu-icon {
  display: none;
}
@media (max-width: 1090px) {
  .menu-icon {
    display: block;
    position: relative;
    top: 0;
    left: 40%;
    height: 18px;
    width: 30px;
    margin-right: 20px;
  }
}
@media (max-width: 520px) {
  .menu-icon {
    left: 25%;
  }
}
.menu-icon::before, .menu-icon::after,
.menu-icon span {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  right: 0;
  background-color: #fff;
}
.menu-icon::before {
  top: 0;
}
.menu-icon::after {
  bottom: 0;
}
.menu-icon span {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/* =============== MAIN =====================*/
.hero-section {
  background: #000000;
}
.hero-section::before, .hero-section::after {
  content: "";
  position: absolute;
  width: 480px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(hsla(276, 100%, 50%, 0.6)), color-stop(36.9%, hsla(104, 100%, 55%, 0.6)), color-stop(67.4%, hsla(0, 100%, 50%, 0.6)), to(hsla(227, 100%, 50%, 0.6)));
  background-image: linear-gradient(90deg, hsla(276, 100%, 50%, 0.6) 0%, hsla(104, 100%, 55%, 0.6) 36.9%, hsla(0, 100%, 50%, 0.6) 67.4%, hsla(227, 100%, 50%, 0.6) 100%);
  opacity: 0.3;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
@media (max-width: 1150px) {
  .hero-section::before, .hero-section::after {
    display: none;
  }
}
.hero-section::before {
  left: -150px;
  top: 10px;
}
.hero-section::after {
  right: 0px;
  top: 280px;
}
.hero-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero-section__content {
  position: relative;
}

.desc-hero {
  max-width: 584px;
}
@media (max-width: 425px) {
  .desc-hero {
    max-width: 233px;
  }
}
.desc-hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
  padding-top: 120px;
  padding-bottom: 90px;
  z-index: 10;
}
@media (max-width: 880px) {
  .desc-hero__list {
    padding-top: 23px;
  }
}
.desc-hero__item {
  font-family: "Exo", sans-serif;
  color: white;
}
.desc-hero__item--name {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  /* 20/18 */
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.desc-hero__item--name::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  height: 1px;
  width: 152px;
  z-index: 5;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(49%, rgb(66, 255, 0)), to(rgb(36, 0, 255)));
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 49%, rgb(36, 0, 255) 100%);
}
@media (max-width: 1230px) {
  .desc-hero__item--name {
    font-size: 15px;
  }
}
.desc-hero__item--prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 87.5%;
  /* 70/80 */
  /* or 88% */
  text-transform: uppercase;
}
@media (max-width: 1230px) {
  .desc-hero__item--prof {
    font-size: 35px;
  }
}
@media (max-width: 787px) {
  .desc-hero__item--prof {
    max-width: 290px;
    font-size: 32px;
  }
}
.desc-hero__item--text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.22;
  /* 40/18 */
  letter-spacing: -0.02em;
  text-transform: capitalize;
}
@media (max-width: 425px) {
  .desc-hero__item--text {
    font-size: 14px;
    line-height: 1;
  }
}
@-webkit-keyframes buttonAnim {
  0% {
    background-color: rgba(11, 0, 69, 0);
  }
  100% {
    background-color: rgb(11, 0, 69);
  }
}
@keyframes buttonAnim {
  0% {
    background-color: rgba(11, 0, 69, 0);
  }
  100% {
    background-color: rgb(11, 0, 69);
  }
}
.desc-hero__button {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 60px;
  background: #6F00A9;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (max-width: 1150px) {
  .desc-hero__button {
    padding: 8px 40px;
  }
}
@media (max-width: 425px) {
  .desc-hero__button {
    margin-top: 0px;
  }
}
.desc-hero__button:hover {
  background-color: #0B0045;
}

.content-hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-hero__main, .content-hero__pic {
  z-index: 5;
  aspect-ratio: 688/508;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 40px;
  margin-right: 50px;
}
@media (max-width: 1150px) {
  .content-hero__main, .content-hero__pic {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-hero__main img, .content-hero__pic img {
    position: absolute;
    right: 36%;
    bottom: 70%;
    width: 177px;
    aspect-ratio: 177/260;
  }
}
@media (max-width: 768px) {
  .content-hero__main img, .content-hero__pic img {
    right: 32%;
  }
}
@media (max-width: 425px) {
  .content-hero__main img, .content-hero__pic img {
    right: 14%;
  }
}
@media (max-width: 320px) {
  .content-hero__main img, .content-hero__pic img {
    right: 4%;
  }
}
.content-hero__triangles--left {
  position: absolute;
  right: 290px;
  top: 264.61px;
}
@media (max-width: 1150px) {
  .content-hero__triangles--left {
    aspect-ratio: 90/110;
    top: 100px;
    right: 0px;
  }
}
@media (max-width: 884px) {
  .content-hero__triangles--left {
    top: 40px;
    max-width: 170px;
  }
}
@media (max-width: 425px) {
  .content-hero__triangles--left {
    width: 97px;
    height: 109px;
  }
}
@media (max-width: 360px) {
  .content-hero__triangles--left {
    display: none;
  }
}
.content-hero__triangles--right {
  position: absolute;
  right: -70px;
  top: 314.61px;
}
@media (max-width: 1150px) {
  .content-hero__triangles--right {
    display: none;
  }
}
.content-hero__aftereffects {
  position: absolute;
  right: 5%;
  top: 25%;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
@media (max-width: 1130px) {
  .content-hero__aftereffects {
    top: 90px;
    right: 200px;
    width: 20px;
    height: 28px;
  }
}
@media (max-width: 882px) {
  .content-hero__aftereffects {
    top: 20px;
    right: 75px;
  }
}
@media (max-width: 425px) {
  .content-hero__aftereffects {
    right: 35px;
  }
}
@media (max-width: 360px) {
  .content-hero__aftereffects {
    display: none;
  }
}
.content-hero__photoshop {
  position: absolute;
  width: 136px;
  height: 110px;
  top: 25%;
  right: 85%;
  -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
          transform: skew(25deg);
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
}
@media (max-width: 1150px) {
  .content-hero__photoshop {
    top: 90px;
    right: 300px;
    width: 29px;
    height: 35px;
    -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}
@media (max-width: 882px) {
  .content-hero__photoshop {
    top: 20px;
    right: 130px;
  }
}
@media (max-width: 425px) {
  .content-hero__photoshop {
    right: 75px;
  }
}
@media (max-width: 360px) {
  .content-hero__photoshop {
    display: none;
  }
}

.about-section {
  background: black;
  position: relative;
  margin-top: 80px;
}
.about-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 158px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), color-stop(85.54%, rgba(0, 0, 0, 0.99))), url("/img/content/about-section.webp") 0 0 no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%), url("/img/content/about-section.webp") 0 0 no-repeat;
}
@media (max-width: 1150px) {
  .about-section__container {
    padding-bottom: 45px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), color-stop(85.54%, rgba(0, 0, 0, 0.99)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%);
  }
}
.about-section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  color: white;
}
.about-section__title {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.16;
  text-transform: uppercase;
}
@media (max-width: 1150px) {
  .about-section__title {
    margin-top: 90px;
  }
}
@media (max-width: 768px) {
  .about-section__title {
    font-size: 24px;
  }
}
.about-section__title::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 34%;
  height: 1px;
  width: 401px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(49%, rgb(66, 255, 0)), to(rgb(36, 0, 255)));
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 49%, rgb(36, 0, 255) 100%);
}
@media (max-width: 768px) {
  .about-section__title::after {
    width: 142px;
  }
}
@media (max-width: 375px) {
  .about-section__title::after {
    left: 28%;
  }
}
.about-section__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  max-width: 992px;
  margin: 0 auto;
}
@media (max-width: 1150px) {
  .about-section__text {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .about-section__text {
    font-size: 14px;
    max-width: 450px;
  }
}
@media (max-width: 420px) {
  .about-section__text {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 333px;
  }
}
.about-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 1150px;
  overflow-x: auto;
}
@media (max-width: 880px) {
  .about-section__list {
    position: absolute;
    left: 3%;
    bottom: 120%;
    gap: 120px;
  }
}
@media (max-width: 420px) {
  .about-section__list {
    gap: 90px;
  }
}
@media (max-width: 320px) {
  .about-section__list {
    bottom: 117%;
  }
}
.about-section__item {
  font-family: "Orbitron";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  position: relative;
}
@media (max-width: 768px) {
  .about-section__item {
    font-size: 14px;
  }
}
.about-section__item::before {
  content: "";
  position: absolute;
  top: 30%;
  right: -70px;
  width: 10px;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(48.9%, rgb(66, 255, 0)), to(rgb(36, 0, 255)));
  background: linear-gradient(90deg, rgb(255, 0, 0), rgb(66, 255, 0) 48.9%, rgb(36, 0, 255) 100%);
  border-radius: 50%;
}
@media (max-width: 420px) {
  .about-section__item::before {
    right: -50px;
  }
}

/* ================ PORTFOLIO ============== */
.section__portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.96)), color-stop(85.54%, rgba(0, 0, 0, 0.99))), url("../img/content/vector.webp") right -40px/contain no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.96) 0%, rgba(0, 0, 0, 0.99) 85.54%), url("../img/content/vector.webp") right -40px/contain no-repeat;
}
@media (max-width: 768px) {
  .section__portfolio {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.96)), color-stop(85.54%, rgba(0, 0, 0, 0.99)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.96) 0%, rgba(0, 0, 0, 0.99) 85.54%);
  }
}

.portfolio-section__title {
  position: relative;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .portfolio-section__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
.portfolio-section__title::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0px;
  height: 1px;
  width: 571px;
  z-index: 5;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(49%, rgb(66, 255, 0)), to(rgb(36, 0, 255)));
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 49%, rgb(36, 0, 255) 100%);
}
@media (max-width: 768px) {
  .portfolio-section__title::before {
    bottom: -4px;
    width: 260px;
  }
}
.content-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}
.content-portfolio__item {
  text-align: center;
}
.content-portfolio__link {
  position: relative;
}
.content-portfolio__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 10px solid #9700FF;
}
.content-portfolio__link:hover::before {
  opacity: 1;
}
.content-portfolio__link:hover .content-portfolio__icon {
  top: 25%;
}
@media (max-width: 768px) {
  .content-portfolio__link:hover .content-portfolio__icon {
    top: 35%;
  }
}
.content-portfolio__link:hover .content-portfolio__text {
  position: absolute;
  top: 57%;
  left: 20%;
  display: block;
  opacity: 1;
}
@media (max-width: 768px) {
  .content-portfolio__link:hover .content-portfolio__text {
    display: none;
  }
}
.content-portfolio__pic {
  aspect-ratio: 1/1;
  overflow: visible;
  width: 360px;
}
@media (max-width: 768px) {
  .content-portfolio__pic {
    width: 193px;
  }
}
.content-portfolio__icon {
  position: absolute;
  top: 35%;
  left: 35%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .content-portfolio__icon {
    aspect-ratio: 1/1;
    width: 53px;
  }
}
.content-portfolio__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  display: none;
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.content-portfolio__play {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .content-portfolio__play {
    font-size: 15px;
  }
}
.content-portfolio__play:hover {
  color: #9700FF;
}

/* =============== FOOTER =================== */
.footer__block {
  padding: 10px;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.footer__text {
  color: royalblue;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}