/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Основні стилі */

body {
   font-family: "Proxima Nova", sans-serif;
}

/* ===============  ==================== */

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;

}

.wrapper>main {
   flex-grow: 1;
}

/* =============== HEADER =================== */

.header {

   padding-left: 15px;
   padding-right: 15px;
}

.header__container {
   background-color: #f8f8f8;

}

.header__menu {
   max-width: 1320px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   flex-grow: 1;
}

.menu-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   padding: 15px 0px;
   flex-grow: 1;
   /* max-width: 1320px;
   margin: 0 auto; */
}

.menu-content__list {
   display: flex;
   flex-grow: 1;
}

.menu-content__items {
   display: flex;
   gap: 30px;
}

.menu-content__item:hover {
   color: rgb(255, 188, 87);
   transition: all 0.3s;
}

.header__wrapper {
   display: flex;
   align-items: center;
   gap: 20px;
   /* margin-right: 17px; */

}

.wrapper-help {}

.wrapper-help__text {}


@media (max-width: 1120px) {
   .wrapper-help__text {
      display: none;
   }

   .catalog {
      display: flex;
      flex-direction: column;
   }

   .header-info__logo {
      width: 200px;
      height: 100%;
   }

   .telephone__shedule {
      display: none;
   }

   .telephone__arrow {
      display: none;
   }
}

.list {
   font-size: 16px;
   font-weight: 400;
   line-height: 1.87;
   display: flex;
   gap: 10px;
}

.list:last-child {
   margin-right: 20px;
}

.list__social {}

.list__link:hover {
   transform: scale(1.1);
   transition: all 0.4s ease-in;
}

.menu-content__language {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.language {
   position: relative;
   display: flex;
}

.language select {
   font-size: 19px;
   font-weight: 400;
   line-height: 1.26;
   /* 24/19 */
   background-color: #f8f8f8;
}


.language select:focus-visible {
   background-color: #fff;
}

.menu-header {
   display: flex;
   align-items: center;
   gap: 20px;
   flex-grow: 1;
}

.header-info {
   max-width: 1320px;
   margin: 0 auto;
   justify-content: space-between;
   padding-top: 25px;
   padding-bottom: 25px;

}

.header-info__logo {}

.header-info__image {
   width: 100%;
}

.header-info__button {
   max-width: 147px;
   background: rgb(255, 188, 87);
   border-radius: 8px;
   padding: 11px 20px 11px 20px;
   align-items: center;
   flex-grow: 1;
   flex-wrap: wrap;
}

/* .header-info__button::before {
   content: "";

} */

.button {
   min-height: 46px;
}


.button__link--icon img:hover {
   /* transform: rotate(360deg);
   transition: all 0.3s; */
   /* position: absolute;
   position: ;
   width: 24px;
   height: 24px;
   top: 0px;
   left: 0px;
   margin-left: 15px; */
}

.button__text {
   color: rgb(255, 255, 255);
   font-size: 19px;
   line-height: 1.26;
   margin-left: 30px;
   margin-top: -23px;
   /* 24/19 */
}

.button:hover {
   transform: scale(1.1);
}

.button:hover .button__link--icon img {
   transform: rotate(360deg);
   transition: all 0.3s;
}

.header-info__search {
   display: flex;
   border-radius: 8px;
   position: relative;
   flex: 0 1 421px;
   /* height: 50px; */
}

.search__input:hover {
   box-shadow: 0px -2px 7px 0px rgb(255, 188, 87);
}

.search {
   position: relative;
   display: flex;
   justify-content: space-between;
   flex-grow: 1;
   flex-shrink: 1;
   align-items: center;
   padding: 10px 15px;
}

.search__input::placeholder {
   color: rgb(177, 177, 177);
}

.search__input {
   position: relative;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.87;
   border: 1px solid black;
   border-radius: 8px;
   padding: 10px 15px 10px 15px;
   /* 30/16 */
}

.search__button {
   position: absolute;
   cursor: pointer;
   top: 20px;
   right: 25px;
   background: url("../img/icons/poisk.svg") 0 0 no-repeat;
   width: 24px;
   height: 24px;
}

.header-info__telephone {
   display: flex;
   flex-shrink: 0;
   align-items: center;

}

.telephone {
   gap: 10px;
}

.telephone__link {}

.telephone__image {
   align-items: center;
}

.telephone__image:hover {
   transition: all 0.4s;
   transform: scale(1.1);
}

.telephone__shedule {}

.telephone__shedule-time {
   color: rgb(83, 83, 83);
   font-size: 13px;
   font-weight: 300;
   line-height: 1.69;
   /* 22/13 */
}

.telephone__number {}

.header-info__icons {}

.icon {
   display: flex;
   gap: 20px;
}

.icon__search {
   display: none;
}

.icon__basket:hover {
   background-color: rgb(255, 188, 87, 0.2);
   border-radius: 50%;
   transition: all 0.4s;
}

.icon__favourite {
   width: 50px;
   height: 50px;
}

.icon__favourite:hover {
   background-color: rgb(255, 188, 87, 0.2);
   border-radius: 50%;
   transition: all 0.4s;
}

.icon__favoutire-link {}

.icon__basket {
   width: 50px;
   height: 50px;
}

.icon__basket-link {}

.catalog {
   max-width: 1320px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.catalog__item:hover {
   color: rgb(255, 188, 87);
   transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.catalog__promo img {
   margin-top: -5px;
}

.catalog__items {
   display: flex;
   gap: 40px;
   flex-grow: 1;
   flex-shrink: 0;
   flex-wrap: wrap;
}

.catalog__items img {
   margin-right: 10px;
}

.catalog__item {
   display: flex;
   align-items: center;
}

.item-category:hover {
   transform: scale(1.1);
   transition: all 0.3s;
   color: rgb(255, 188, 87);
}


@media (max-width: 960px) {
   .menu-content__list {
      position: relative;
      width: 50px;
      height: 50px;
      background: url("../img/icons/bars.svg") 0 0 no-repeat;
   }

   .menu-content__items {
      display: none;
   }

   .header-info__logo {
      position: absolute;
      width: 215px;
      height: 36px;
      left: 110px;
      top: 25px;
   }
}

@media (max-width: 700px) {
   .catalog {
      display: none;
   }

   .wrapper-help {
      display: none;
   }

   .language {
      display: none;
   }

   .header__container {
      display: flex;
      background-color: white;
   }

   .header-info {
      margin-top: -20px;
   }

   .header-info__logo {
      display: flex;
      width: 215px;
      height: 36px;
      align-items: center;
   }

   .menu-content {
      display: flex;
      position: relative;
   }

   .telephone {
      position: absolute;
      display: flex;
      top: 15px;
      right: 30px;
   }

   .search {
      display: none;
   }

   .icon__search {
      display: block;
   }
}

@media (max-width: 410px) {
   .header-info__logo {
      position: absolute;
      left: 75px;
      top: 25px;
   }
   .telephone {
      position: absolute;
      top: 15px;
      right: 3px;
   }
}

@media (max-width: 360px) {
   .telephone {
      position: absolute;
      top: 15px;
      right: 5px;
   }
   .icon {
      display: flex;
      gap: 10px;
   }
}

/* =============== FOOTER =================== */

.footer {}

.footer__block {
   padding: 10px;
   max-width: 1500px;
   margin: 0 auto;
   margin-top: 20px;
   text-align: center;
}

.footer__text {
   color: royalblue;
   display: inline-block;
   text-align: center;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 600;
}


/* Псевдокласи */

/* Анатомія псевдокласів */

/* Псевдокласи стану */








/* Псевдоелементи */