/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

/* Підключення через плагін Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:500,600,700&display=swap");


/* Основні стилі */

body {
   font-family: "Proxima Nova", sans-serif;
}

li {
   font-family: "Caveat", sans-serif;
   font-weight: 700;
   font-size: 20px;
   font-style: italic;
}

footer {
   font-family: "Caveat",sans-serif;
   font-weight: 600;
   font-size: 19px;
   text-align: center;
}

.main-title {
   font-family: "Yanone Kaffeesatz", sans-serif;
   color: yellow;
   text-shadow: 2px 2px 2px #000;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}

.title {
   font-family: "Yanone Kaffeesatz", sans-serif;
   font-weight: 600;
   color: blue;
   letter-spacing: 2px;
   white-space: nowrap;
}

.first-text,
.second-text,
.third-text,
.forth-text {
   font-family: "Caveat", sans-serif;
   text-decoration: underline;
   text-decoration-color: blueviolet;
   line-height: 1.7;
   word-spacing: 5px;
}

.bed {
   line-height: 2;
}

.title-bed {
   font-weight: 700;
   font-size: 40px;
   text-align: center;
}

.title-krovato {
   font-weight: 600;
   line-height: 1.5;
   font-size: 40px;
   text-align: center;
}

.decor {
   line-height: 1.5;
}

.sub-title {
   font-size: 20px;
   font-weight: 700;
}

.site {
   font-size: 20px;
   font-weight: normal;
   line-height: 1.4;
}

.last-text{
   line-height: 1.2;
}
