@use "sass:math";

// Підключення шрифтів з Google Fonts
@import url("https://fonts.googleapis.com/css?family=Danfo:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:300,regular,500,600,700&display=swap");
// Локальне підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1512;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1290;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
   font-family: "Exo", sans-serif;
   background-color: #000;
}

/* ===============  ==================== */

@mixin animate($animation, $duration, $method, $fillmode) {
   animation: $animation $duration $method $fillmode;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;

   >main {
      flex-grow: 1;
   }

}

// .wrapper>main {
//    flex-grow: 1;
// }

[class*="__container"] {
   max-width: #{$containerWidth}px;
   padding: 0 math.div($containerPadding, 2) + px;
   margin: 0 auto;
}

/* =============== HEADER =================== */


.header {
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
   background-color: rgba(0, 0, 0, 0.8);

   &__body {}
}

.body-header {
   padding-top: 60px;
   padding-bottom: 30px;


   &__container {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
   }

   &__title {
      color: #fff;
      font-size: 30px;
      font-family: "Exo 2", sans-serif;
      font-weight: 400;
      line-height: 66.6%;
      /* 20/30 */
      letter-spacing: -3px;
   }

   &__menu {}

   &__action {
      position: relative;
   }

   &__social {}
}

@mixin animate($animation, $duration, $method, $fillmode) {
   animation: $animation $duration $method $fillmode;
}

@keyframes headerAnim {
   0% {
      background-color: rgb(151, 71, 255, 0);
   }

   100% {
      background-color: #9747FF;
   }


}


.menu-body-header {

   &__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 50px;

      @media (max-width: 1090px) {
         display: none;
      }
   }

   &__item {
      color: white;
      font-family: "Orbitron", sans-serif;
      font-weight: 500;
      line-height: 1.25;
      /* 20/16 */
      text-transform: uppercase;

   }

   &__link {
      padding: 15px 10px;

      &:hover {
         @include animate(headerAnim, 0.2s, linear, both);

         // background-color: #9747FF;
         // transition: all 0.3s ease-in;


      }
   }

}

.social-body-header {
   position: relative;

   &__list {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      column-gap: 24px;
      row-gap: 10px;
      flex-shrink: 0;

      @media (max-width: 1150px) {
         margin-top: 20px;
      }
   }

   &__item {}

   &__link {
      transition: all 0.3s;

      img {
         width: 20px;
         height: 20px;
      }

      &:hover {
         transform: scale(1.2);
      }

      &--facebook {}

      &--linkedin {}

      &--youtube {}
   }


}



.menu-icon {
   display: none;

   @media (max-width: 1090px) {
      display: block;
      position: relative;
      top: 0;
      left: 40%;
      height: 18px;
      width: 30px;
      margin-right: 20px;
   }

   // margin-right Це здається також як костиль, але вже ніяк в голову не приходить як його адаптувати
   // 

   @media (max-width: 520px) {
      left: 25%;
   }

   &::before,
   &::after,
   span {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      right: 0;
      background-color: #fff;
   }

   &::before {
      top: 0;
   }

   &::after {
      bottom: 0;
   }

   span {
      top: 50%;
      transform: translate(0, -50%);
   }
}

// Main
/* =============== MAIN =====================*/

.section {

   &__hero {}
}

.hero-section {
   background: #000000;

   &::before,
   &::after {
      content: "";
      position: absolute;
      width: 480px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-image: linear-gradient(90deg, hsla(276, 100%, 50%, 0.6) 0%, hsla(104, 100%, 55%, 0.6) 36.9%, hsla(0, 100%, 50%, 0.6) 67.4%, hsla(227, 100%, 50%, 0.6) 100%);
      opacity: 0.3;
      filter: blur(40px);

      @media (max-width: 1150px) {
         display: none;
      }
   }

   &::before {
      left: -150px;
      top: 10px;
   }

   &::after {
      right: 0px;
      top: 280px;
   }


   &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

   }

   &__desc {}

   &__content {
      position: relative;
   }
}

.desc-hero {
   max-width: 584px;

   @media (max-width: 425px) {
      max-width: 233px;
   }


   &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-grow: 1;
      gap: 20px;
      padding-top: 120px;
      padding-bottom: 90px;
      z-index: 10;

      @media (max-width: 880px) {
         padding-top: 23px;
      }

   }

   &__item {
      font-family: "Exo", sans-serif;
      color: white;

      &--name {
         position: relative;
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 1.11;
         /* 20/18 */
         letter-spacing: -0.02em;
         text-transform: uppercase;

         &::after {
            content: "";
            position: absolute;
            top: 25px;
            left: 0px;
            height: 1px;
            width: 152px;
            z-index: 5;
            background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 49%, rgba(36, 0, 255, 1) 100%);

         }

         @media (max-width: 1230px) {
            font-size: 15px;
         }
      }

      &--prof {
         display: flex;
         flex-wrap: wrap;
         font-style: normal;
         font-weight: 700;
         font-size: 80px;
         line-height: 87.5%;
         /* 70/80 */
         /* or 88% */
         text-transform: uppercase;

         @media (max-width: 1230px) {
            font-size: 35px;
         }

         @media (max-width: 787px) {
            max-width: 290px;
            font-size: 32px;
         }
      }

      &--text {
         font-style: normal;
         font-weight: 400;
         font-size: 18px;
         line-height: 2.22;
         /* 40/18 */
         letter-spacing: -0.02em;
         text-transform: capitalize;

         @media (max-width: 425px) {
            font-size: 14px;
            line-height: 1;
         }
      }

      @keyframes buttonAnim {
         0% {
            background-color: rgb(11, 0, 69, 0);
         }

         100% {
            background-color: rgb(11, 0, 69);
         }

      }
   }

   &__button {
      font-family: 'Orbitron';
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 15px 60px;
      background: #6F00A9;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      transition: background-color 0.3s;

      @media (max-width: 1150px) {
         padding: 8px 40px;
      }

      @media (max-width: 425px) {
         margin-top: -0px;
      }


      &:hover {
         background-color: #0B0045;
         // @include animate(buttonAnim, 0.2s, linear, both);
      }
   }
}

.content-hero {
   position: relative;
   display: flex;
   flex-wrap: wrap;

   &__main,
   &__pic {
      z-index: 5;
      aspect-ratio: 688 / 508;
      object-fit: cover;
      margin-top: 40px;
      margin-right: 50px;

      @media (max-width: 1150px) {
         justify-content: center;
         align-items: center;

         img {
            position: absolute;
            right: 36%;
            bottom: 70%;
            width: 177px;
            aspect-ratio: 177 / 260;
         }
      }

      @media (max-width: 768px) {
         img {
            right: 32%;
         }
      }

      @media (max-width: 425px) {
         img {
            right: 14%;
         }
      }

      @media (max-width: 320px) {
         img {
            right: 4%;
         }
      }

   }

   &__triangles {
      &--left {
         position: absolute;
         right: 290px;
         top: 264.61px;

         @media (max-width: 1150px) {

            aspect-ratio: 90 / 110;
            top: 100px;
            right: 0px;
         }

         @media (max-width: 884px) {
            top: 40px;
            max-width: 170px;
         }

         @media (max-width: 425px) {
            width: 97px;
            height: 109px;
         }

         @media (max-width: 360px) {
            display: none;
         }
      }

      &--right {
         position: absolute;
         right: -70px;
         top: 314.61px;

         @media (max-width: 1150px) {
            display: none;
         }
      }
   }

   &__aftereffects {
      position: absolute;
      right: 5%;
      top: 25%;
      transform: rotate(25deg);

      @media (max-width: 1130px) {
         top: 90px;
         right: 200px;
         width: 20px;
         height: 28px;
      }

      @media (max-width: 882px) {
         top: 20px;
         right: 75px;
      }

      @media (max-width: 425px) {
         right: 35px;
      }

      @media (max-width: 360px) {
         display: none;
      }
   }

   &__photoshop {
      position: absolute;
      width: 136px;
      height: 110px;
      top: 25%;
      right: 85%;
      transform: skew(25deg);
      transform: rotate(-35deg);

      @media (max-width: 1150px) {
         top: 90px;
         right: 300px;
         width: 29px;
         height: 35px;
         transform: rotate(-15deg);
      }

      @media (max-width: 882px) {
         top: 20px;
         right: 130px;
      }

      @media (max-width: 425px) {
         right: 75px;
      }

      @media (max-width: 360px) {
         display: none;
      }
   }
}



.section {
   &__about {}
}

// ==================== ABOUT ================== 

.about-section {
   background: black;
   position: relative;
   margin-top: 80px;

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding-top: 120px;
      padding-bottom: 158px;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%), url("../img/content/about-section.webp") 0 0 no-repeat;

      @media (max-width: 1150px) {
         padding-bottom: 45px;
         background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%)
      }
   }

   &__info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // align-items: center; 
      color: white;
   }

   &__title {
      position: relative;
      text-align: center;
      font-weight: 700;
      font-size: 60px;
      line-height: 1.16;
      text-transform: uppercase;

      @media (max-width: 1150px) {
         margin-top: 90px;
      }

      @media (max-width: 768px) {
         font-size: 24px;
      }

      &::after {
         content: "";
         position: absolute;
         bottom: 1px;
         left: 34%;
         height: 1px;
         width: 401px;
         background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 49%, rgba(36, 0, 255, 1) 100%);

         @media (max-width: 768px) {
            width: 142px;
         }

         @media (max-width: 375px) {
            left: 28%;
         }

      }
   }

   &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.02em;
      text-transform: capitalize;
      max-width: 992px;
      margin: 0 auto;

      @media (max-width: 1150px) {
         max-width: 700px;
      }

      @media (max-width: 768px) {
         font-size: 14px;
         max-width: 450px;
      }

      @media (max-width: 420px) {
         padding-left: 10px;
         padding-right: 10px;
         max-width: 333px;
      }

   }


   &__list {
      display: flex;
      gap: 140px;
      align-items: center;
      color: white;
      width: 1150px;
      overflow-x: auto;

      @media (max-width: 880px) {
         position: absolute;
         left: 3%;
         bottom: 120%;
         gap: 120px;
      }

      @media (max-width: 420px) {
         gap: 90px;
      }

      @media (max-width: 320px) {
         bottom: 117%;
      }

   }

   &__item {
      font-family: "Orbitron";
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      text-transform: capitalize;
      position: relative;

      @media (max-width: 768px) {
         font-size: 14px;
      }

      &::before {
         content: "";
         position: absolute;
         top: 30%;
         right: -70px;
         width: 10px;
         height: 10px;
         background: linear-gradient(90.00deg, rgb(255, 0, 0), rgb(66, 255, 0) 48.9%, rgb(36, 0, 255) 100%);
         border-radius: 50%;

         @media (max-width: 420px) {
            right: -50px;
            // margin-left: 40px;

         }
      }
   }
}

/* ================ PORTFOLIO ============== */

.section {

   &__portfolio {
      background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.96) 0%,
            rgba(0, 0, 0, 0.99) 85.54%),
         url("../img/content/vector.webp") right -40px / contain no-repeat;

      @media (max-width: 768px) {
         background: linear-gradient(180deg,
               rgba(0, 0, 0, 0.96) 0%,
               rgba(0, 0, 0, 0.99) 85.54%);
      }
   }
}

.portfolio-section {
   &__container {}

   &__title {
      position: relative;
      font-weight: 700;
      font-size: 60px;
      line-height: 1.17;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 120px;

      @media (max-width: 768px) {
         font-size: 30px;
         margin-bottom: 40px;
      }

      &::before {
         content: "";
         position: absolute;
         bottom: -20px;
         left: 0px;
         height: 1px;
         width: 571px;
         z-index: 5;
         background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 49%, rgba(36, 0, 255, 1) 100%);

         @media (max-width: 768px) {
            bottom: -4px;
            width: 260px;
         }
      }

   }

   &__content {}
}

.content-portfolio {
   display: flex;
   gap: 30px;
   overflow-x: auto;
   overflow-y: hidden;
   position: relative;

   &__item {
      text-align: center;
   }


   &__link {
      position: relative;

      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         border: 10px solid #9700FF;
      }


      &:hover {
         &::before {
            opacity: 1;
         }

         .content-portfolio__icon {
            top: 25%;

            @media (max-width: 768px) {
               top: 35%;
            }
         }

         .content-portfolio__text {
            position: absolute;
            top: 57%;
            left: 20%;
            display: block;
            opacity: 1;

            @media (max-width: 768px) {
               display: none;
            }
         }
      }


   }

   &__pic {
      aspect-ratio: 1 / 1;
      overflow: visible;
      width: 360px;

      @media (max-width: 768px) {
         width: 193px;
      }
   }



   &__icon {
      position: absolute;
      top: 35%;
      left: 35%;
      transition: all 0.3s;

      @media (max-width: 768px) {
         aspect-ratio: 1 / 1;
         width: 53px;
      }

   }

   &__text {
      font-weight: 700;
      font-size: 40px;
      line-height: 1;
      text-transform: uppercase;
      color: #FFFFFF;
      display: none;
      opacity: 0;
      height: 0;
      transition: all 0.3s;
   }

   &__play {
      font-weight: 700;
      font-size: 40px;
      line-height: 1;
      text-transform: uppercase;
      color: #FFFFFF;
      transition: color 0.3s;
      margin-top: 20px;

      @media (max-width: 768px) {
         font-size: 15px;
      }

      &:hover {
         color: #9700FF;
      }

   }

}





/* =============== FOOTER =================== */

.footer {
   &__block {
      padding: 10px;
      max-width: 1500px;
      margin: 0 auto;
      margin-top: 20px;
      text-align: center;
   }

   &__text {
      color: royalblue;
      display: inline-block;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
   }
}

